
/*-----------------------------BODY CSS--------------------->*/
body{
    background-color:#BC4DFE;
}

/*-----------------------------HEADER CSS--------------------->*/
header{
    background-color: #050231;
    display: block;
    height: 25h;
}
.sub-header{
    padding-top: 2vh;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
}

img{
    height: 100%;
    width: 100%;
}

.logo{
    width: 100%;
}

.cont-logo{
    max-width: 8vw;
}

.cont-titulo{
    max-width: 20vw;
}

.titulo{
    font-size: 3vw;
    background-image: linear-gradient(0deg, blue 50%, yellow 50%);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 100%;
    max-height: 100%;
    width: 40vw;
}

.logoYTitulo{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 30%;
    
}

.menuHamburguesa{
    height: 6vh;
    width: 5vw;
    
}

.texto-breadcrumbs{
    padding-left: 8.6vw;
    font-size: 2.6vw;
    color:blueviolet;

}

a:hover {
    color: greenyellow;
}

nav a{
    color:white;
    text-decoration: none;

}

.cont-tarjeta a:hover{
    color: greenyellow;
    text-decoration: none;
}

.barraBuscador{
    max-width: 50%;
    height: 6vh;
    
}



span{
    color: blue;
}

/*-----------------------------NAVBAR CSS--------------------->*/
nav{
    background-color:#BC4DFE;
    display: flex;
    justify-content: space-evenly;
    margin: 1vw;
}


.categoriasJuegos{
    font-size: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 15vh;
    width: 15vw;
    margin: 1%;
    background-color: #050231;
}

/*-----------------MAIN CSS-----------------------*/
.textoCategoria{
    font-weight: bold;
    padding-left: 2vh;
    font-size: 3vh;
    color: white;
    background-color: #050231;
    height: 4vh;
    width: 100%;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.carrusel{
    display: flex;
    width: 100%;
    height: 40vh;
    overflow-x:scroll;
}

.objetoCarrusel{
    flex: 0 0 100%;
    width: 100%;
    object-fit:cover;
    scroll-snap-align:center;  
}

.cont-tarjeta{
    min-width: 20%;
    margin-left: 1%;
    text-align: center;
    background-color: #050231;
    overflow: hidden;

}

h3{
    margin-top: 5%;
    margin-bottom: 5%;
}

.cont-imagen-tarjeta{
    height: auto;
    height: 40%;
}

.cont-titulo-tarjeta{
    font-size: 3.5vh;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.cont-adicionales-tarjeta{
    font-size: 1.75vw;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    overflow:hidden;
}

.cont-botones-tarjeta{
    height: auto;
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gratis{
    color: rgb(0, 255, 0)
}

.premium{
    color: #005aea;
}

/*------------------------------BOTONES CSS---------------*/
.botonJugar{
    
    padding: 5%; /*espacio alrededor texto*/
    background-color: #159900; /*color botón*/
    color: black; /*color texto*/
    font-size: 2vw;
    text-align: center;
    text-decoration: none; /*decoración texto*/
    border-radius: 2vh; /*bordes redondos*/
    height: 4vh;
    width: 6vw;
}

.botonReservar{
    padding: 2%; /*espacio alrededor texto*/
    background-color: #159900; /*color botón*/
    color: black; /*color texto*/
    font-size: 4vh;
    font-weight: bold;
    text-decoration: none; /*decoración texto*/
    border-radius: 10px; /*bordes redondos*/
    height: auto;
}

.botonComprar{
    
    padding: 5%; /*espacio alrededor texto*/
    background-color: #2a9a05; /*color botón*/
    color: black; /*color texto*/
    font-size: 2vw;
    text-align: center;
    text-decoration: none; /*decoración texto*/
    border-radius: 2vh; /*bordes redondos*/
    height: 4vh;
    width: 6vw;
}

.botonCarrito{
    
    padding: 1vw; /*espacio alrededor texto*/
    background-color: #8d9f00; /*color botón*/
    color: black; /*color texto*/
    font-size: 2vw;
    text-align: center;
    text-decoration: none; /*decoración texto*/
    border-radius: 2vh; /*bordes redondos*/
    height: 4vh;
    width: 6vw;
    overflow: hidden;
}

.botonEnviar{
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 40%;
    background-color: blue; /*color botón*/
    color: black; /*color texto*/
    font-size: 2vh;
    text-decoration: none; /*decoración texto*/
    border-radius: 2vh; /*bordes redondos*/
    height: 4vh;
    width: 4vw;
}

/*-----------------------------FOOTER CSS--------------------->*/
footer{
    margin-top: 1vh;
    background-color: #050231;
}

.elementosFooter{
    display: block;
    
    justify-content: space-evenly;
    color: white;
    padding-left: 4vw;
    padding-right: 4vw;
}
.cont-footer{
    font-size: 2vw;
    text-align: start;
    width: 16vw;
    float:left;
    margin:1vh;
    padding: 1vw;
    overflow: hidden;
}

.logo-footer{
    display:-webkit-inline-flex;
    width: 25vw;
    align-items:baseline;
    margin: 2vw;
}

/*-----------------------------4 EN LINEA CSS--------------------->*/
.seccion4EnLinea{
    display: flex;
    margin-bottom: 1%;
}

.cont-4enlinea{
    background-color: #1a0354;
    width: 50%;
}

.titulo-4enlinea{
    width: 50%;
    padding-left: 10%;
    height: auto;
}

.cont-imagen-4enlinea{
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    height: auto;
}

.cont-botones-4enlinea{
    height: auto;
    display: flex;
    justify-content:center;
}

.cont-intrucciones-4enlinea{
    width: 49%;
    padding: 1%;
    background-color: #050231;
    
}

.blanco{
    color:white
}

.titulo-intrucciones{
    text-align: center;
    color:#22ff00;
}

.cont-capturas{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 10%;
}

.imagen-captura{
    width: 100%;
    height: 100%;
}

.boton-4enlinea{
    border: black solid 1px;
    padding: 2%; /*espacio alrededor texto*/
    background-color: #159900; /*color botón*/
    color: black; /*color texto*/
    font-size: 4vh;
    text-decoration: none; /*decoración texto*/
    border-radius: 10px; /*bordes redondos*/
}

/*--------------SECCION HISTORIA CSS--------------------*/
.seccionHistoria{
    background-color: #050231;
    height: auto;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

/*--------------SECCION COMENTAR CSS--------------------*/
.seccionComentar{
    background-color: #050231;
    padding: 1%;
    margin-bottom: 1%;
    height: auto;
}

.iconos-redes-comentar{
    display: flex;
}

.cont-icono-comentar{
    min-width: 5%;
    max-width: 5%;

}

.caja-y-boton{
    display: flex;
    align-items: center;
}

.caja-de-comentarios{
    width: 30%;
    height: 10%;
}


/*--------------SECCION COMENTARIOS CSS--------------------*/
.seccionComentarios{
    background-color: #050231;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

.comentario-image{
    padding: 1%;
    width: 60%;
    margin: 1%;
}

/*--------------SECCION LANZAMIENTO CSS--------------------*/

.titulo-lanzamiento{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: black;
    font-size: 450%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #24ff03;
}

.fondo-imagen-lanzamiento{
    background-image:url("./Imagenes/PuppyPlaytime6.jpg");
    background-repeat: no-repeat;

}

.imagen1-lanzamiento{
    margin-bottom: 4%;
}

.playtime3{
    background-image: url("./Imagenes/PuppyPlaytime8.jpg");
    background-size: cover;
}

.playtime3 p{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left:10%;
    margin-right: 10%;
    font-size: 200%;
    font-weight: bold;
    display: flex;
    justify-content: justify;
    align-items: justify;
    color: white;
}

.adelantos{
    background-image: url("./Imagenes/PuppyPlaytime7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.compradores{
    background-image: url("./Imagenes/PuppyPlaytime6.jpg");
    background-repeat: no-repeat;
    font-size: 2.5vw;
    height: 100vh;
    align-items: center;
}

.titulo-compra{
    padding-top: 10vh;
    font-size: 3vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}  

div .compra p{
    text-align: center;
    font-size: 4vw;
}

.botoncito{
    display: flex;
    justify-content: center;
}

.cont-boton-lanzamiento{
    height: 6vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50%;
}

.primero,.segundo,.tercero,.cuarto,.quinto{
    background-color: #1a0354;
    height:400;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:10px;
    margin-right: 10px;
}

.billy,.richard,.sarah,.david,.jessica{
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left:20px;
    margin-right: 20px;
    height: 200px;
}

.jugadores h2,h3,li{
    color:white;
}

.jugadores{
    justify-content: justify;
    display: flex;
    direction: row;
}



.playtime3 h1{
    text-decoration: underline;
    font-size: 350%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.explora{
    display: flex;
    justify-content:left;
}

.uno,.dos{
    width:45%;
    margin-top:3%;
    margin-bottom: 10%;
}

.dos h2{
    font-size: 350%;
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
}
/*
.compradores h1{
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left:10%;
    margin-right: 10%;
    font-size: 300%;
    font-weight: bold;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white; 
}

.compradores p{
    font-size: 200%;
    font-weight: bold;
    display: flex;
    justify-content: justify;
    align-items: justify;
    color: white;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left:10%;
    margin-right: 10%;
}
*/
.personajes h1{
    background-color:#1a0354;
    font-size: 200%;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}

@media (max-width: 600px){
    
    .seccionCategoria{
        margin-bottom: 1vh;
    }
    
    .categoriasJuegos{
        width: 14vw;
        height: 8vh;
    }


    .carrusel{
        height: 15%;
    }

    .cont-titulo-tarjeta{
        font-size: 2vw;
    }

    .cont-footer{
        width: 14vw;
    }

    .botonJugar{
        height: 30%;
        width: 40%;
    }

    .botonComprar{
        height: 30%;
        width: 40%;
    }

    .botonCarrito{
        
        height: 30%;
        width: 40%;
    }

    .cont-tarjeta{
        height: 35vh;
    }
}
/*---------------------------------------ANIMACION DE CARGA CSS--------------------*/
