body{
    background-color:#9747FF;
}

header{
    background-color: #050231;
    display: block;
}
.sub-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

img{
    height: 100%;
    width: 100%;
}


.logo{
    width: 100%;
    height: 0%;
    margin: 0%;
    padding: 0%;
}

.cont-logo{
    max-width: 20%;
    margin: 0%;
    padding: 0%;
}

.cont-titulo{
    max-width: 60%;
    margin: 0%;
    padding: 0%;
}
.titulo{
    background-image: linear-gradient(0deg, blue 50%, yellow 50%);
    display: inline-block;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.logoYTitulo{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 30%;
}

.barraBuscador{
    max-width: 50%;
    height: 20%;
    margin: 5px;
}

.barrita{
    height: 8vh;
}

.menuHamburguesa{
    height: 5%;
    width: 5%;
    margin: 1rem;
}

.texto-breadcrumbs{
    color:blueviolet;
    padding-top: 0%;
    padding-left: 15%;
    margin: 0%;
}

span{
    color: blue;
}

nav{
    background-color:#BC4DFE;
    display: flex;
    justify-content: space-evenly;
}

/*ESTA ES LA SECCION DEL CARRUSEL*/

.textoCategoria{
    color: white;
    background-color: #050231;
}

.carrusel{
    display: flex;
    width: 100%;
    height: 40vh;
    overflow-x:scroll;
}

.objetoCarrusel{
    flex: 0 0 100%;
    width: 100%;
    object-fit:cover;
    scroll-snap-align:center;  
}

.cont-tarjeta{
    margin-left: 1%;
    text-align: center;
    background-color: #050231;
    width: 20%;
    height: 100%;
}

.cont-imagen-tarjeta{
    width: 100%;
    height: 40%;
}

.cont-titulo-tarjeta{
    color: white;
    height: 10%;
}

.cont-adicionales-tarjeta{
    height: 20%;
}

.cont-botones-tarjeta{
    height: auto;
}

.gratis{
    color: rgb(0, 255, 0)
}

.botonJugar{
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #159900; /*color botón*/
    color: black; /*color texto*/
    font-size: 2vh;
    text-decoration: none; /*decoración texto*/
    border-radius: 10px; /*bordes redondos*/
    }

/*ESTA ES LA SECCION DEL CARRUSEL*/

.categoriasJuegos{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 15vw;
    height: 15vh;
    margin: 1%;
    background-color: #050231;
}


footer{
    background-color: #050231;
    
    max-height: 20%;
}

.elementosFooter{
    display: block;
    justify-content: space-between;
    color: white;
}
.cont-footer{
    background-color: black;
    height: auto;
    
    text-align: start;
    width: 20%;
    float:left;
    margin: 10px;
    padding: 1%;
}

.logo-footer{
    display:-webkit-inline-flex;
    width: 40%;
    align-items:baseline;
}

